@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(21, 10fr);
    grid-template-rows: repeat(21, 10fr);
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
}

.a {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    border-radius: 5px;
}

.b {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 11;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    transition: transform 0.3s;

    display: grid;
    grid-template-columns: repeat(21, 10fr);
    grid-template-rows: repeat(21, 10fr);
}

.c {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start:13;
    grid-row-end: 20;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    transition: transform 0.3s;

    display: grid;
    grid-template-columns: repeat(21, 10fr);
    grid-template-rows: repeat(21, 10fr);
}

.d {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    grid-column-start: 12;
    grid-column-end: 22;
    grid-row-start:4;
    grid-row-end: 14;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    transition: transform 0.3s;
}

.e {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    grid-column-start: 12;
    grid-column-end: 22;
    grid-row-start:15;
    grid-row-end: 20;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    transition: transform 0.3s;

}

.f {

}

.g {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 21;
    grid-row-end: 22;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    height: 85%;
    color: white;
    background-color: black;
    transition: transform 0.3s
}

.navigation a:hover {
    transform: scale(1.10); /* %10 bigger */
}

.contact-info-container {
    display: grid;
    grid-template-columns: repeat(21, 10fr);
    grid-template-rows: repeat(21, 10fr);

    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start:1;
    grid-row-end: 22;

    text-decoration: none;
    color: white;
}

.mail-icon{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end:11;
    color: white;
}

.mail-text {
    display: flex;
    align-items: center;

    grid-column-start: 6;
    grid-column-end: 22;
    grid-row-start:3;
    grid-row-end:11;
    color: white;
    font-size: 1.8vw;
}

.telephone-icon {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:12;
    grid-row-end:20;
    color: white;
}

.telephone-text {
    display: flex;
    align-items: center;

    grid-column-start: 6;
    grid-column-end: 22;
    grid-row-start:12;
    grid-row-end:20;
    color: white;
    font-size: 1.9vw;
}

.instagram-icon {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end:11;
    color: white;
}

.instagram-text {
    display: flex;
    align-items: center;

    grid-column-start: 6;
    grid-column-end: 22;
    grid-row-start: 5;
    grid-row-end:9;
    color: white;
    font-size: 1.9vw;
}

.facebook-icon {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:12;
    grid-row-end:20;
    color: white;
}

.facebook-text {
    display: flex;
    align-items: center;

    grid-column-start: 6;
    grid-column-end: 22;
    grid-row-start:14;
    grid-row-end:18;
    color: white;
    font-size: 1.9vw;
}

.icon {
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
