@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(21, 10fr);
    grid-template-rows: repeat(21, 10fr);
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
}

.category-logo {
    height: 100%;
    width: 100%;
}



.a {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    border-radius: 5px;
}

.action, .adventure, .rpg, .simulator, .strategy, .survival, .horror, .fps {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.3s;
}

.action:hover, .adventure:hover, .rpg:hover, .simulator:hover, .strategy:hover, .survival:hover, .horror:hover, .fps:hover {
    transform: scale(1.02); /* %2 bigger */
}

.action {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 12;
}

.adventure {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 12;
}

.rpg {
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 12;
}

.simulator {
    grid-column-start: 17;
    grid-column-end: 22;
    grid-row-start: 3;
    grid-row-end: 12;
}

.strategy {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 21;
}

.survival {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 12;
    grid-row-end: 21;
}

.horror {
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 12;
    grid-row-end: 21;
}

.fps {
    grid-column-start: 17;
    grid-column-end: 22;
    grid-row-start: 12;
    grid-row-end: 21;
}

.j {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 21;
    grid-row-end: 22;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    height: 85%;
    color: white;
    background-color: black;
    transition: transform 0.3s
}

.navigation a:hover {
    transform: scale(1.10); /* %10 bigger */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
