@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(21, 10fr);
    grid-template-rows: repeat(21, 10fr);
    gap: 10px;
    padding: 5px;
    border: 1px solid black;
}

.a {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    border-radius: 5px;
}

.b {
    grid-column-start: 9;
    grid-column-end: 14;
    grid-row-start: 3;
    grid-row-end: 21;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
    transition: transform 0.3s;
    cursor: pointer;

}

.c {

}

.d {

}
.e {

}

.f {

}

.g {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 21;
    grid-row-end: 22;
    background-color: rgb(139, 145, 145);
    border: 2px solid white;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    height: 85%;
    color: white;
    background-color: black;
    transition: transform 0.3s
}

.navigation a:hover {
    transform: scale(1.10); /* %10 bigger */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}